html,
body {
  height: calc(100% - 8px); /*default margin is 8px; this allows it to fill the page while maintaining the appearence of the default borders */
}

#globalMessages {
	border: 1px solid black;
	min-height: 30px;
	max-height: 300px;
	overflow-y: auto;
}

#lobbyMessages {
	border: 1px solid black;
	min-height: 30px;
	max-height: 200px;
	overflow-y: auto;
}

#guessesPanel {
	overflow-y: auto;
}

#navigationPane {
	border: 2px solid black;
	border-bottom: 1px solid black;
}

.green {
	color: green;
}

.red {
	color: red;
}

.orange {
	color: orange;
}

.bold {
	font-weight: bold;
}

.boxed {
	border: 1px solid black;
}

.verticalBoxed {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.horizontalBoxed {
	border-left:1px solid black;
	border-right: 1px solid black;
}

.centered {
	text-align: center;
}

#gameDiv {
	display: flex;
	justify-content: space-between;
}

.gameColumn {

}

/*ratio of sizes is 15:55:30*/
#playersColumn {
	flex-basis: 15%;
	max-width: 15%;
	border-left: 2px solid black;
}

#emojisColumn {
	flex-basis: 55%;
	max-width: 55%;
}

#gameChatColumn {
	flex-basis: 30%;
	max-width: 30%;
	border-right: 2px solid black;
}

#emojiPanel img:hover {
	background-color: blue;
	cursor: pointer;
}

#emojisColumn img {
	width: 72px;
	height: 72px;
}

#emojiClueHolder {
	display: inline-block;
	min-height: 72px;
}

#cluePreview {
	display: flex;
	justify-content: space-between;
}

#cluePreviewButtons {
	flex-shrink: 0;
}

#customHeader {
	display: flex;
	justify-content: space-between;
}

#pageView {
	display: flex;
	flex-flow: column;
	height: 100%;
}

#pageView .page {
	/* flex: 1 1 auto; from tutorial; don't think it's needed for my implementation*/
	/*the navigationPane also had 0 1 auto*/
	flex-grow: 1;
}

#gameDiv {
	height: 100%;
}

.columnHeader {
	border-bottom: 2px solid black;
}

.gameColumn {
	/* background-color: lime; */
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid black;
}

.columnHeader {
	/* background-color: orange; */
}

#guessPanel {
	/* background-color: aqua; */
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#guessesPanel {
    flex-grow: 1;
}

#guessInputPanel {
    /* background-color: red; */
    flex-grow: 0;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid black;
}

#pageView {
	/* background-color: yellow; */
}

/* This is how we get the columns to scroll independetly when too big; hide the overflow for every parent and put it to auto for the one we want to scroll (technically the auto is not needed since it is auto but it makes it more readable) */
#pageView, #gamePage, #gameDiv, #gameChatColumn, #guessPanel, #cluePanel {
	overflow-y: hidden;
}

#gamePlayerList {
	overflow-y: auto;
}

#guessesPanel {
	overflow-y: auto;
}

#emojiClues {
	overflow-y: auto;
}

#guessInput {
	flex-grow: 1;
	margin: 0 2px;
}

#cluePanel {
	/* background-color: pink; */
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#clueInput {
	/* background-color: purple; */
	border-top: 1px solid black;
}

#emojiClueHolder:empty:before{
    content: attr(data-placeholder);
	white-space: pre;
    display: inline-block;
}

#lobbyPage {
	overflow-y: auto;
}

#promptSelectionPanel {
	margin: 10px;
}

#promptOptionsHolder {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.promptOption {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	padding: 5px;
}

.promptOption:hover {
	background-color: lightgrey;
}

#joinInfoHolder {
	display: flex;
	align-items: center;
}

#joinInfoHolder * {
	margin-right: 10px;
}

#settingsRow1 {
	display: flex;
	border-top: 1px solid black;
}

#ffaSettings {
    flex-basis: 50%;
    border-right: 1px solid black
}

#teamsSettings {
    flex-basis: 50%;	
}

#settingsRow2 {
	border-top: 1px solid black;
}

.subSettings {
	border-top: 1px solid rgba(100, 100, 100, 0.5);
}

#topicHolder {
	white-space: pre;
}